/* CSS 0 - 1 */

* {
  margin: 0;
}
body {
  font-family: sans-serif;
}
ul {
  display: inherit;
  list-style: none;
  margin: 0;
}
nav {
  display: inherit;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

:root {
  --blue-color: #4355ce;
  --black-color: #1f1b1a;
  --red-color: #e13838;
  --withe-color: #e4e4e4;
}

/* ICONS */
.fa-solid {
  color: #e4e4e4;
}

.fa-magnifying-glass {
  padding-left: 0.625rem;
}

.fa-cart-shopping {
  font-size: 22px;
  color: var(--red-color);
}

/* Disable temps */
.disable-temp {
  display: none;
}

/* CSS GENERAL 10 WEIGHT */

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0.125rem 0;
  background-color: var(--blue-color);
}

.header-top__item {
  padding: 0 0.625rem;
}
.header-top__item__link {
  text-decoration: none;
}

.header-top__item__link__text {
  color: #e4e4e4;
  padding-left: 0.625rem;
  font-size: 12px;
}

.header-center {
  display: grid;
  grid-template-columns: auto auto 20% 0.15fr;
  align-items: center;
  background-color: #1f1b1a;
  padding: 0.02rem;
}

.header-center__logo-title {
  display: flex;
  align-items: center;
}

.header-center__title {
  color: var(--withe-color);
}

.header-center__logo {
  width: 6.25rem;
  transform: rotate(30deg);
  transition: ease-in 1s;
}

.header-center__menu {
  display: flex;
  align-items: center;
}

.header-center__menu__item {
  margin: 0.313rem;
}

.header-center__menu__item__link {
  color: var(--withe-color);
  transition: ease-out 0.5s;
  padding: 0.313rem;
}

.header-center__shopping-car {
  display: flex;
  justify-content: center;
}

.header-bottom {
  padding: 0.625rem;
  background-color: var(--red-color);
}

.sneaks {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  padding: 3.125rem;
}

.sneaks__card {
  display: inherit;
  justify-content: center;
}

.sneaks__card__img {
  max-width: 16rem;
  height: 100%;
}

.sneaks__card__img__img {
  width: 100%;
  height: 16rem;
}

.sneaks__card__details__name-price {
  display: flex;
  color: var(--black-color);
  justify-content: space-between;
  padding-bottom: 0.188rem;
  font-weight: bold;
}

.corousel-section {
  display: flex;
  justify-content: center;
}

.carousel {
  margin-top: 20px;
  max-width: 900px;
}

.footer-top {
  display: flex;
  background-color: var(--black-color);
  padding: 1rem;
  height: 15rem;
  height: 20vh;
  justify-content: center;
}

.footer-top__text {
  width: 100%;
}
.footer-top__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
}

.footer-top__social__link {
  padding: 2%;
  color: var(--withe-color);
  background-color: var(--blue-color);
  transition: ease-in 0.2s;
}

.footer-top__text__letters {
  color: var(--withe-color);
}
.footer-bottom {
  padding: 1rem;
  background-color: var(--red-color);
  color: var(--withe-color);
}
.footer__bottom__copyright {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0 0 0;
  text-align: center;
}

.sneaks__card__details__desc p {
  color: #707070;
  padding: 0.2rem;
}

.sneaks__card__details__name-price p {
  padding: 0 0.5rem;
}

.header-center__menu__item__link:hover {
  color: var(--blue-color);
  text-decoration: underline;
  transition: ease-in 0.5s;
  background-color: #0000001d;
  border-radius: 5px;
}

.header-center__logo:hover {
  transform: rotate(390deg);
  transition: ease-in 1s;
}

.footer-top__social__link:hover {
    color: var(--black-color);
    transition: ease-in 0.2s;
  }