    {% include 'base.html' %}
    {% load static %}
    {% block add_styles %}
    <link rel="stylesheet" href="{% static '/css/css-views/pedido.css' %}">
    <link rel="stylesheet" href="{% static '/css/css-views/pago.css' %}">
    {% endblock add_styles %}
    <section>
        <h3>Pago</h3>
        <div class="order-wrap">
            <div class="order-cards">
                <div class="order-card">
                    <div class="order-card__content">
                        <div class="order-card__img-container">
                            <img src="../../src/imgs/sneaks/Example/Air-Force-1-Low-Retro/Air-Force-1-Low-Retro.png"
                                alt="" class="order-card__img">
                        </div>
                        <div class="order-card__details">
                            <p class="order-card__texts">Air Force 1 Low Retro</p>
                            <p class="order-card__texts">Talla 36 EUR</p>
                            <p class="order-card__texts">$36.000 CLP</p>
                        </div>
                        <div class="order-card__time">  
                            <p class="order-card__time__text">Fecha estimada 18 de Febrero</p>
                        </div>
                    </div>
                </div>
                <div class="order-card">
                    <div class="order-card__content">
                        <div class="order-card__img-container">
                            <img src="../../src/imgs/sneaks/Example/Air-Force-1-Low-Retro/Air-Force-1-Low-Retro.png"
                                alt="" class="order-card__img">
                        </div>
                        <div class="order-card__details">
                            <p class="order-card__texts">Air Force 1 Low Retro</p>
                            <p class="order-card__texts">Talla 36 EUR</p>
                            <p class="order-card__texts">$36.000 CLP</p>
                        </div>
                        <div class="order-card__time">
                            <p class="order-card__time__text">Fecha estimada 18 de Febrero</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pay-content">
                <div class="pay-content__location">
                    <section>
                        <div class="container mt-5">
                            <h5 class="text-center mb-5" id="form-quest">Ingrese sus datos</h5>
                            <form>
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
                                </div>
                                <div class="form-group">
                                    <label for="nro-credit">Nro.Tarjeta, Debito/Credito</label>
                                    <input type="text" class="form-control" id="nro-credit"
                                        placeholder="Ejemplo: 4513 2568 5876 0869">
                                </div>
                                <div class="card-credit">
                                    <div class="form-group">
                                        <label for="fecha-card">Fecha de caducidad</label>
                                        <input type="text" class="form-control credit-label" id="fecha-card"
                                            placeholder="Ejemplo: 02/25">
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">CVV</label>
                                        <input type="text" class="form-control credit-label" id="cvv-card"
                                            placeholder="Ejemplo: 273">
                                    </div>
                                </div>
                                <div class="pay-details">
                                    <p class="pay-details__text"><span class="--weight-600">Descuentos:</span> $0 </p>
                                    <p class="pay-details__text"><span class="--weight-600">Codigo descuento:</span> No hay </p>
                                    <p class="pay-details__text"><span class="--weight-600">Sub total:</span> $50.000</p>
                                    <p class="pay-details__text"><span class="--weight-600">Total a Pagar:</span> $50.000</p>
                                </div>
                                <div class="btn-pay">
                                    <button type="submit" class="btn btn-red">Pagar</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>