{% extends 'base.html' %}
{% load static %}
{% block add_styles %}
<link rel="stylesheet" href="{% static 'css/css-views/pedido.css' %}">
{% endblock add_styles %}
{% block content %}
    <section>
      <h2>Estado de tu/s Pedido/s</h2>
      <div class="order-wrap">
        <div class="order-cards">
          <div class="order-card">
            <div class="order-card__content">
              <div class="order-card__img-container">
                <img src="../../src/imgs/sneaks/Example/Air-Force-1-Low-Retro/Air-Force-1-Low-Retro.png" alt="" class="order-card__img">
              </div>
              <div class="order-card__details">
                <p class="order-card__texts">Air Force 1 Low Retro</p>
                <p class="order-card__texts">$36.000 CLP</p>
                <p class="order-card__texts">Compra: 31/03/2023</p>
              </div>
            </div>
            <div class="order-card__content">
              <div class="order-card__img-container">
                <img src="../../src/imgs/sneaks/AirJordan4Grey.png" alt="" class="order-card__img">
              </div>
              <div class="order-card__details">
                <p class="order-card__texts">Gray Air Jordan 4</p>
                <p class="order-card__texts">Talla 36 EUR</p>
                <p class="order-card__texts">$80.000 CLP</p>
                <p class="order-card__texts">Compra: 31/03/2023</p>
              </div>
            </div>
            <div class="order-card__time">
              <p class="order-card__time__text">Fecha estimada 18 de Febrero</p>
              <a href="pedido-detalle.html" target="_blank" class="order-card__link">Detalles</a>
            </div>
            <div class="order-ship-progress">
              <div class="order-ship-progress__texts">
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-truck-fast"></i> Saliendo</p>
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-truck-arrow-right"></i> A mitad de camino</p>
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-house"></i> Llegando</p>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
            </div>
          </div>
          <div class="order-card">
            <div class="order-card__content">
              <div class="order-card__img-container">
                <img src="../../src/imgs/sneaks/Example/Air-Force-1-Low-Retro/Air-Force-1-Low-Retro.png" alt="" class="order-card__img">
              </div>
              <div class="order-card__details">
                <p class="order-card__texts">Air Force 1 Low Retro</p>
                <p class="order-card__texts">Talla 36 EUR</p>
                <p class="order-card__texts">$36.000 CLP</p>
                <p class="order-card__texts">Compra: 31/03/2023</p>
              </div>
            </div>
            <div class="order-ship-progress">
              <div class="order-ship-progress__texts">
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-truck-fast"></i> Saliendo</p>
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-truck-arrow-right"></i> A mitad de camino</p>
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-house"></i> Llegando</p>
              </div>
              <div class="order-card__time">
                <p class="order-card__time__text">Fecha estimada 18 de Febrero</p>
                <a href="pedido-detalle.html" target="_blank" class="order-card__link">Detalles</a>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
            </div>
          </div>
          <div class="order-card">
            <div class="order-card__content">
              <div class="order-card__img-container">
                <img src="../../src/imgs/sneaks/Example/Air-Force-1-Low-Retro/Air-Force-1-Low-Retro.png" alt="" class="order-card__img">
              </div>
              <div class="order-card__details">
                <p class="order-card__texts">Air Force 1 Low Retro</p>
                <p class="order-card__texts">Talla 36 EUR</p>
                <p class="order-card__texts">$36.000 CLP</p>
                <p class="order-card__texts">Compra: 31/03/2023</p>
              </div>
            </div>
            <div class="order-card__time">
              <p class="order-card__time__text">Fecha estimada 18 de Febrero</p>
              <a href="pedido-detalle.html" target="_blank" class="order-card__link">Detalles</a>
            </div>
            <div class="order-ship-progress">
              <div class="order-ship-progress__texts">
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-truck-fast"></i> Saliendo</p>
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-truck-arrow-right"></i> A mitad de camino</p>
                <p class="order-ship-progress__text">
                  <i class="fa-solid fa-house"></i> Llegando</p>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock content %}