 {% extends 'base.html' %}
 {% load static %}
  {% block add_styles %}
  <link rel="stylesheet" href="{% static 'css/css-views/question.css' %}">
  {% endblock add_styles %}
  {% block content %}
  <section>
    <div class="questions">
      <section>
        <header>
          <h2 class="questions-title">
            Preguntas frecuentes
          </h2>
        </header>
      </section>
      <section>
        <div id="accordion">
          <div class="card">
            <div class="card-header btn-blue rounded-0">
              <a class="btn btn--color-white" data-bs-toggle="collapse" href="#collapseOne">
                Cuanto demora mi pedido en llegar?
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body">
                <h2>Querido/a cliente/a</h2>

                <p class="card-body__text">
                  Permítame comenzar agradeciéndole por elegir nuestra tienda para realizar su compra. Su confianza en
                  nosotros es muy importante y estamos comprometidos en brindarle la mejor experiencia de compra
                  posible.
                </p>

                <p class="card-body__text">
                  Respecto a su pregunta sobre el tiempo de entrega de su pedido, le comento que nuestro equipo se
                  esfuerza por procesar y enviar todos los pedidos lo más pronto posible. Por lo general, el tiempo de
                  entrega dependerá de varios factores, como la ubicación del destino y el método de envío que haya
                  seleccionado.
                </p>

                <p class="card-body__text">
                  Sin embargo, quiero asegurarle que haremos todo lo posible para que su pedido llegue a usted lo más
                  rápido posible. Para brindarle una respuesta más precisa, le sugiero que nos proporcione más detalles
                  sobre su pedido y la dirección de entrega.
                </p>

                <p class="card-body__text">
                  En nuestro sitio web, encontrará información detallada sobre los tiempos de envío y los costos
                  asociados. Además, puede ponerse en contacto con nuestro equipo de atención al cliente en cualquier
                  momento para obtener más información o realizar un seguimiento de su pedido.
                </p>

                <p class="card-body__text">
                  Nuevamente, le agradezco su elección y su confianza en nuestra tienda. Nos esforzamos por brindarle el
                  mejor servicio y esperamos que su experiencia de compra sea excepcional. ¡Gracias por elegirnos!
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header btn-blue rounded-0">
              <a class="collapsed btn btn--color-white" data-bs-toggle="collapse" href="#collapseTwo">
                Lapso de demora entre regiones?
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>
                    <p class="card-body__text">¿Ya tienes tu cuenta? Si eres miembro tu envío es gratis, <a
                        href="/views/user/loign.html" target="_blank" rel="noopener noreferrer">Registrate ya!</a></p>
                  </li>
                  <li>
                    <p class="card-body__text">¡Hacemos envíos a todo el país!</p>
                  </li>
                  <li>
                    <p class="card-body__text">Tu pedido no puede enviarse a direcciones fuera del país.</p>
                  </li>
                </ul>
                <div class="tabla">
                  <table class="tablaEntregas">
                    <tbody>
                      <tr class="tablaEntregas__headings">
                        <th>Zona</th>
                        <th>Regiones</th>
                        <th>Plazo</th>
                        <th>Tarifas</th>
                      </tr>
                      <tr>
                        <td>Zona 1</td>
                        <td>Metropolitana de Santiago, Valparaíso, Libertador General Bernardo O'Higgins, Maule, Biobío,
                          Coquimbo.</td>
                        <td>Hasta 3 días habiles</td>
                        <td>4.990CLP</td>
                      </tr>
                      <tr>
                        <td>Zona 2</td>
                        <td>La Araucanía, Los Ríos, Los Lagos.</td>
                        <td>Hasta 4 días habiles</td>
                        <td>7.990CLP</td>
                      </tr>
                      <tr>
                        <td>Zona 3</td>
                        <td>Tarapacá, Antofagasta, Atacama, Arica y Parinacota.</td>
                        <td>Hasta 5 días habiles</td>
                        <td>7.990CLP</td>
                      </tr>
                      <tr>
                        <td>Zona 4</td>
                        <td>Aysén del General Carlos Ibáñez del Campo, Magallanes y de la Antártica Chilena.</td>
                        <td>Hasta 12 días habiles</td>
                        <td>8.990CLP</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header btn-blue rounded-0">
              <a class="collapsed btn btn--color-white" data-bs-toggle="collapse" href="#collapseThree">
                Somos Confiables?
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <h2>Estimados clientes</h2>

                <p class="card-body__text">
                  Hoy me dirijo a todos ustedes para hablarles sobre la confiabilidad de nuestra empresa, StreetSneaks.
                  Como empresa, entendemos que es fundamental que nuestros clientes confíen en nosotros, no solo para
                  ofrecerles productos de alta calidad, sino también para garantizar su seguridad y tranquilidad
                  mientras
                  realizan sus compras en nuestro sitio web.
                </p>

                <p class="card-body__text">
                  Es por eso que en StreetSneaks nos hemos esforzado por establecer altos estándares de seguridad y
                  confiabilidad. Sabemos que la privacidad y seguridad de nuestros clientes es primordial, por lo que
                  hemos implementado medidas de seguridad avanzadas para proteger su información personal y financiera.
                </p>

                <p class="card-body__text">
                  Nuestro sitio web cuenta con un certificado de seguridad SSL, lo que significa que su información
                  personal y financiera se cifra y protege mientras navegan en nuestra página. Además, nuestro equipo de
                  expertos en seguridad informática está constantemente monitoreando y actualizando nuestras medidas de
                  seguridad para garantizar que se mantengan a la vanguardia de los últimos riesgos y amenazas
                  cibernéticas.
                </p>

                <p class="card-body__text">
                  Además de nuestras medidas de seguridad, en StreetSneaks nos esforzamos por ofrecer una experiencia de
                  compra excepcional a nuestros clientes. Nos aseguramos de que nuestros productos sean auténticos y de
                  alta calidad, y que se entreguen a tiempo y en las mejores condiciones. Nos preocupamos por nuestros
                  clientes y trabajamos arduamente para garantizar su satisfacción y lealtad a largo plazo.
                </p>

                <p class="card-body__text">
                  En resumen, en StreetSneaks somos una empresa confiable en la que puede confiar para realizar sus
                  compras en línea con tranquilidad y seguridad. Nos enorgullece brindar un servicio excepcional y
                  productos de alta calidad a nuestros clientes, y nos comprometemos a seguir mejorando nuestra
                  seguridad
                  y confiabilidad para satisfacer sus necesidades.
                </p>

                <p class="card-body__text">
                  Gracias por elegir StreetSneaks como su tienda de calzado en línea. Estamos a su disposición para
                  cualquier consulta o inquietud que pueda tener.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header btn-blue rounded-0">
              <a class="collapsed btn btn--color-white" data-bs-toggle="collapse" href="#collapseFour">
                Existe garantia?
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <h3>Estimados clientes</h3>
                <p class="card-body__text">
                  Entendemos que comprar productos en línea puede generar cierta incertidumbre, ya que no siempre se
                  tiene la posibilidad de ver el producto físicamente antes de realizar la compra. Es por eso que
                  ofrecemos una garantía de satisfacción del cliente para asegurarnos de que nuestros clientes estén
                  completamente satisfechos con sus compras.
                </p>
                <p class="card-body__text">Nuestra garantía de satisfacción del cliente cubre cualquier problema o
                  defecto que pueda surgir en el producto dentro de los primeros 30 días posteriores a la compra. Si por
                  alguna razón no está completamente satisfecho con su compra, podemos ofrecerle un reembolso completo o
                  un cambio por un producto diferente.</p>

                <p class="card-body__text">Además de nuestra garantía de satisfacción del cliente, muchos de nuestros
                  productos también están respaldados por una garantía del fabricante. Esto significa que si surge algún
                  problema con el producto después de los primeros 30 días, puede comunicarse directamente con el
                  fabricante para obtener asistencia y solución a su problema.</p>

                <p class="card-body__text">
                  En StreetSneaks nos preocupamos por ofrecer una experiencia de compra sin problemas y sin riesgos para
                  nuestros clientes. Nuestro objetivo es asegurarnos de que nuestros clientes estén completamente
                  satisfechos con sus compras y que sientan que han recibido el mejor valor por su dinero.
                </p>

                <p class="card-body__text">
                  En resumen, en StreetSneaks ofrecemos una garantía de satisfacción del cliente que cubre cualquier
                  problema o defecto que pueda surgir en el producto dentro de los primeros 30 días posteriores a la
                  compra. Además, muchos de nuestros productos también están respaldados por una garantía del
                  fabricante. Nos enorgullece brindar una experiencia de compra sin problemas y sin riesgos para
                  nuestros clientes, y estamos comprometidos a garantizar su satisfacción y lealtad a largo plazo.
                </p>

                <p class="card-body__text">
                  Gracias por elegir StreetSneaks como su tienda de calzado en línea. Estamos a su disposición para
                  cualquier consulta o inquietud que pueda tener sobre nuestras garantías.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3 class="questions-title questions-subtitle">Tu pregunta no aparece aqui?</h3>
        <p class="question-text card-body__text">
          En StreetSneaks valoramos su opinión y nos preocupamos por garantizar que cada uno de nuestros clientes tenga
          una experiencia de compra satisfactoria. Por lo tanto, entendemos que es importante para ustedes tener acceso
          a nuestro equipo de soporte al cliente para responder cualquier pregunta o inquietud que puedan tener. Es por
          eso que hoy me gustaría hablarles sobre cómo hacer sus preguntas al soporte de StreetSneaks.
        </p>
        <p class="question-text card-body__text">
          En primer lugar, nos complace informarles que hemos creado una sección de preguntas frecuentes en nuestro
          sitio web que se actualiza regularmente. Esta sección incluye las preguntas más frecuentes que han sido
          planteadas en los últimos dos meses. Esperamos que esta sección pueda proporcionar una respuesta a cualquier
          pregunta que pueda tener de manera rápida y fácil.
        </p>
        <p class="question-text card-body__text">
          Si no encuentra la respuesta a su pregunta en nuestra sección de preguntas frecuentes, no dude en ponerse en
          contacto con nuestro equipo de soporte al cliente. Para hacerlo, simplemente visite nuestra página de contacto
          y complete el formulario correspondiente: <a href="#form-quest">Formulario.</a> <br> Nos aseguraremos de que
          su pregunta sea respondida lo antes posible y de manera profesional.
        </p>
        <p class="question-text card-body__text">
          Cuando se comunique con nuestro equipo de soporte al cliente, le recomendamos que:
        </p>
        <ol>
          <li>
            <p class="question-text">
              Sea lo más detallado posible en su pregunta.
            </p>
          </li>
          <li>
            <p class="question-text">
              Incluya cualquier información relevante sobre su compra
              tal asi como el número de pedido o el nombre del producto.
            </p>
          </li>
          <li>
            <p class="question-text">Describa detalladamente su problema o inquietud.</p>
          </li>
        </ol>
        <p class="question-text card-body__text">Esto nos permitirá responder de manera más eficiente y precisa a su
          pregunta, y ayudarlo a encontrar una solución satisfactoria a su problema.</p>
        <section>
          <div class="container mt-5">
            <h1 class="text-center mb-5" id="form-quest">Contáctanos</h1>
            <form name="contactanos-form" id="contactanos-form">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Ingrese su nombre">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Ingrese su email">
              </div>
              <div class="form-group">
                <label for="order">Número de pedido</label>
                <input type="number" name="order" class="form-control" id="order" placeholder="Ingrese el número de su pedido">
              </div>
              <div class="form-group">
                <label for="subject">Asunto</label>
                <input type="text" name="subject" class="form-control" id="subject" placeholder="Ingrese el asunto">
              </div>
              <div class="form-group">
                <label for="mensage">Mensaje</label>
                <textarea class="form-control" name="mensage" id="mensage"></textarea>
              </div>
              <button type="submit" value="submit" class="btn btn-red">Enviar</button>
            </form>
          </div>
        </section>
      </section>
    </div>
  </section>
{% endblock content %}