{% extends 'base.html' %}
{% load static %}
{% block add_styles %}
  <link rel="stylesheet" href="{% static 'css/css-views/nosotros.css' %}">
  <link rel="stylesheet" href="sweetalert2.min.css">
{% endblock add_styles %}
{% block content %}
<section>
  <h2 class="trabaja__title">Trabaja con nosotros</h2>
  <div class="trab-contain">
  <div class="cv-wrapper">
      <form class="cv" id="form" method="POST" action="{% url 'contactanos' %}">
        {% csrf_token %}
        <div class="name-group">
          <label for="name" class="cv__label">
              Nombre <span id="fn-warn" class="warning">* Debe rellenar el campo nombre</span>
              <input type="text" id="name" name="name" placeholder="Ingresa tu nombre" class="cv__input">
          </label>  
          <p id="w_user" class="warning"></p>
        </div>
        Apellido <span id="fa-warn" class="warning">* Debe rellenar el campo Apellido</span>
          <label for="apellido" class="cv__label">
              <input type="text" id="apellido" name="surname" placeholder="Ingresa tu apellido paterno" class="cv__input">
          </label>
          <p id="w_last" class="warning"></p>
          <label for="numero" class="cv__label">
            Celular <span id="fc-warn" class="warning">* Debe rellenar el campo Celular</span>
            <input type="text" id="numero" name="numero" placeholder="Ingresa tu numero de celular" class="cv__input">
        </label>
        <p id="w_cel" class="warning">
        </p>
          <label for="email" class="cv__label">
              Email <span id="fe-warn" class="warning">* Debe rellenar el campo Email</span>
              <input type="email" id="email" name="email" placeholder="Ingresa tu email" class="cv__input">
          </label>
          <p id="w_email" class="warning"></p>
          <label for="propuesta" class="cv__label">
              Porque quieres trabajar con nosotros? <span id="fp-warn" class="warning">* Debe rellenar el campo.</span>
              <textarea placeholder=" Almenos 500 caracteres" name="propuesta" id="propuesta" cols="30" rows="10" class="cv__text-area"></textarea>
          </label>
          <p id="w_text" class="warning"></p>
          <div class="block-submit">
              <button class="cv__submit" type="submit">Enviar</button>
              <div>
                  <p id="warning" class="warning">Hay un problema en el formulario.</p>
              </div>
          </div>
      </form>
  </div>
</div>
</section>
{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock scripts %}
{% endblock content %}


