<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/css-views/pedido.css">
    <link rel="stylesheet" href="../../css/css-views/pago.css">
    <link rel="stylesheet" href="../../css/mediaquerys.css">
    <link rel="icon" type="image/x-icon" href="../../src/imgs/logo.png">
    <title>Pago</title>
</head>

<body>
    <section>
        <div class="header-top-items">
            <div class="header-top ">
                <nav>
                    <ul>
                        <li class="header-top__item">
                            <a class="header-top__item__link" href="pedido.html">
                            <a class="header-top__item__link" href="../user/pedido.html">
                                <i class="fa-solid fa-truck"></i><span class="header-top__item__link__text">
                                    Estado de mi Pedido
                                </span></a>
                        </li>
                        <li class="header-top__item">
                            <a class="header-top__item__link" href="loign.html">
                                <i class="fa-solid fa-user"></i>
                                <span class="header-top__item__link__text">Mi Cuenta</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section>
        <header>
            <div class="header-center">
                <div class="header-center__logo-title">
                    <img class="header-center__logo" src="../../src/imgs/logo.png" alt="Logo de la pagina">
                    <h1><a href="../../index.html"><span class="header-center__title">Street Sneaks</span></a></h1>
                </div>
                <div class="header-center__search">
                    <nav>
                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                aria-describedby="search-addon">
                            <span class="input-group-text border-0 bg-transparent text-white" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </nav>
                </div>
                <div class="header-center__shopping-car">
                    <a href="../carro.html" class="header-center__shopping-car__link">
                        <i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </header>
    </section>
    <div class="header-searchbar">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones"
                name="button">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse header-center__menu" id="opciones">
                <ul class="navbar-nav">
                    <li class="header-center__menu__item">
                        <a class="header-center__menu__item__link" href="../novedades.html">Novedades</a>
                    </li>
                    <li class="header-center__menu__item">
                        <a class="header-center__menu__item__link" href="../hombre.html">Hombre</a>
                    </li>
                    <li class="header-center__menu__item">
                        <a class="header-center__menu__item__link" href="../mujer.html">Mujer</a>
                    </li>
                    <li class="header-center__menu__item">
                        <a class="header-center__menu__item__link" href="../nino.html">Niño</a>
                    </li>
                    <li class="header-center__menu__item">
                        <a class="header-center__menu__item__link" href="../deportivo.html">Deportivo</a>
                    </li>
                    <li class="header-center__menu__item">
                        <a class="header-center__menu__item__link disable" href="../user/loign.html"><i
                                class="fa-solid fa-user"></i> Mi cuenta</a>
                    </li>
                    <li class="header-center__menu__item disable">
                        <a class="header-center__menu__item__link" href="../user/pedido.html"><i
                                class="fa-solid fa-truck"></i>Mis pedidos</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Mobile -->
        <div class="header-center__search_under">
            <nav>
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon">
                    <span class="input-group-text border-0 bg-transparent text-white" id="search-addon-mobile">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </nav>
            <!-- Mobile -->
        </div>
    </div>
    <div class="header-bottom"></div>
    <section>
        <h3>Pago</h3>
        <div class="order-wrap">
            <div class="order-cards">
                <div class="order-card">
                    <div class="order-card__content">
                        <div class="order-card__img-container">
                            <img src="../../src/imgs/sneaks/Jose-Fuentes/Air-Force-1-Low-Retro/Air-Force-1-Low-Retro.webp"
                                alt="" class="order-card__img">
                        </div>
                        <div class="order-card__details">
                            <p class="order-card__texts">Air Force 1 Low Retro</p>
                            <p class="order-card__texts">Talla 36 EUR</p>
                            <p class="order-card__texts">$36.000 CLP</p>
                        </div>
                        <div class="order-card__time">
                            <p class="order-card__time__text">Fecha estimada 18 de Febrero</p>
                        </div>
                    </div>
                </div>
                <div class="order-card">
                    <div class="order-card__content">
                        <div class="order-card__img-container">
                            <img src="../../src/imgs/sneaks/Jose-Fuentes/Air-Force-1-Low-Retro/Air-Force-1-Low-Retro.webp"
                                alt="" class="order-card__img">
                        </div>
                        <div class="order-card__details">
                            <p class="order-card__texts">Air Force 1 Low Retro</p>
                            <p class="order-card__texts">Talla 36 EUR</p>
                            <p class="order-card__texts">$36.000 CLP</p>
                        </div>
                        <div class="order-card__time">
                            <p class="order-card__time__text">Fecha estimada 18 de Febrero</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pay-content">
                <div class="pay-content__location">
                    <section>
                        <div class="container mt-5">
                            <h5 class="text-center mb-5" id="form-quest">Ingrese sus datos</h5>
                            <form>
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
                                </div>
                                <div class="form-group">
                                    <label for="direccion">Direccion</label>
                                    <input type="text" class="form-control" id="direccion" placeholder="Su direccion">
                                </div>
                                <div class="form-group">
                                    <label for="nro-credit">Nro.Tarjeta, Debito/Credito</label>
                                    <input type="text" class="form-control" id="nro-credit"
                                        placeholder="Ejemplo: 4513 2568 5876 0869">
                                </div>
                                <div class="card-credit">
                                    <div class="form-group">
                                        <label for="fecha-card">Fecha de caducidad</label>
                                        <input type="text" class="form-control credit-label" id="fecha-card"
                                            placeholder="Ejemplo: 02/25">
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">CVV</label>
                                        <input type="text" class="form-control credit-label" id="cvv-card"
                                            placeholder="Ejemplo: 273">
                                    </div>
                                </div>
                                <div class="btn-pay">
                                    <button type="submit" class="btn btn-red">Pagar</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-top">
            <div>
                <div class="footer-top__header">
                    <h2><span class="header-center__title">Street Sneaks</span></h2>
                </div>
            </div>
            <div class="footer-top__link">
                <ul>
                    <li><a href="../question.html" class="footer-top__item">Preguntas Frecuentes</a></li>
                    <li><a href="../tos.html" class="footer-top__item">Terminos y Servicio</a></li>
                </ul>
            </div>
            <div class="footer-top__social">
                <a href="https://twitter.com/?lang=es" class="footer-top__social__link"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/" class="footer-top__social__link"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer__bottom__text">
                <p><span class="footer__bottom__text__letters">StreetSneakers@streetsneak.com</span></p>
            </div>
            <div class="footer__bottom__copyright">
                <p><span class="footer__bottom__copyright__text">Copyright © 2023 STREET SNEAKS. All rights
                        reserved.</span>
                </p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>

</html>