<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/mediaquerys.css">
  <link rel="stylesheet" href="../../css/css-views/login.css">
  <link rel="icon" type="image/x-icon" href="../../src/imgs/logo.png">
    <title>Register</title>
</head>
<body>
    <section>
        <div class="header-top-items">
            <div class="header-top ">
              <nav>
                <ul>
                  <li class="header-top__item">
                    <a class="header-top__item__link" href="#">
                      <i class="fa-solid fa-truck"></i><span class="header-top__item__link__text">
                        Estado de mi Pedido
                      </span></a>
                  </li>
                  <li class="header-top__item">
                    <a class="header-top__item__link" href="#">
                      <i class="fa-solid fa-user"></i>
                      <span class="header-top__item__link__text">Mi Cuenta</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        


    </section>
    <section>
        <div class="register">
            <div class="container mt-5 container-form">
                <h4>Iniciar Sesión</h4>
            <form>
                
                <div class="form-group">
                    <label for="email">Nombre</label>
                    <input type="email" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="form-group">
                    <label for="email">Apellido</label>
                    <input type="email" class="form-control" id="Apellido" placeholder="Ingrese su Apellido">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
                </div>
                <div class="form-group">
                    <label for="nombre">Contraseña</label>
                    <input type="text" class="form-control" id="Contraseña" placeholder="Ingrese su contraseña">
                </div>
                <div class="form-group">
                    <label for="email">Dirección</label>
                    <input type="email" class="form-control" id="Dirección" placeholder="Ingrese su Dirección">
                </div>
                
                <button type="submit" class="btn btn-red">Registrarse</button>
            </form>
        </div>
        <div class="container-img">
            <img src="../../src/imgs/carrusel_img1.jpg" alt="imagen de login">
          </div>
    </div>
    
        
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
</body>
</html>