<header>
    <div class="p-1 px-10 bg-s-blue md:text-end text-center">
        <a class="text-white font-bold" href="{% url 'profile' %}">
        Bienvenido {{user.username}}</a>
    </div>
    <div class="bg-s-black p-5">
        <h1 class="text-xl md:text-4xl text-center md:text-start header-center__title text-white">Street Sneak - ADMIN</h1>
        <nav>
            <ul class="md:flex md:justify-center">
                <li class=" px-3 text-center md:text-end"><a class="text-white" href="{% url 'index' %}">Devuelta a la pagina de Inicio</a></li>
                <li class=" px-3 text-center md:text-end"></li>
            </ul>
        </nav>
    </div>
    <div class="p-2 bg-s-red"></div>
</header>