    <footer>
      <div class="footer-top">
        <div>
          <div class="footer-top__header">
              <h2><span class="header-center__title">Street Sneaks</span></h2>
          </div>
        </div>
        <div class="footer-top__link">
          <ul>
              <!-- Hay que ajustar estas url dependiendo de la APP que se mueva. -->
            <li><a href="{% url 'faq' %}" class="footer-top__item">Preguntas Frecuentes</a></li>
            <li><a href="{% url 'tos' %}" class="footer-top__item">Terminos y Servicio</a></li>
            <li><a href="{% url 'work' %}" class="footer-top__item">Trabaja con nosotros</a></li>
            <li><a href="{% url 'priv' %}" class="footer-top__item">Declaracion de privacidad</a></li>
          </ul>
        </div>
        <div class="footer-top__social">
          <a href="https://twitter.com/?lang=es" class="footer-top__social__link"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.instagram.com" class="footer-top__social__link"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer__bottom__text">
          <p><span class="footer__bottom__text__letters">StreetSneakers@streetsneak.com</span></p>
        </div>
        <div class="footer__bottom__copyright">
          <p><span class="footer__bottom__copyright__text">Copyright &copy; 2023 STREET SNEAKS. All rights reserved.</span>
          </p>
        </div>
      </div>
    </footer>