.trabaja__title{
    margin: 1rem;
    text-align: center;
}

.trab-contain{
  display: flex;
  justify-content: center;
}

.cv-wrapper{
    width: 80%;
  }
  
  .cv{
    width: 100%;
    padding: 1rem;
  }
  .cv__label{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  
  .cv__input{
    border: 1px rgb(151, 151, 151) solid;
    padding: 0.5rem;
    width: 100%;
  }
  
  .cv__text-area, .cv__input{
    margin: 0.5rem 0;
  }
  
  .cv__submit{
    transition: 1s all;
    border-radius: 5%;
    color: white;
    border-style: none;
    background-color: brown;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  
  .block-submit{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .warning{
    color: red;
    padding-left: 0.1rem;
    display: none;
  }

  .enable{
    display: block;
  }

  .cv__submit:hover{
    background-color: rgb(103, 30, 30);
  }
  
  .cv__submit:focus{
    background-color: rgb(207, 84, 84);
  }
  .cv__input:focus, .cv__text-area:focus{
    transition: 1s all;
    border-color: brown;

  }
