h3{
    margin-top: 2rem;
    text-align: center;
}

.pay-content{
    display: flex;
    flex-wrap: wrap;   
}

.card-credit{
    display: flex;
    flex-wrap: wrap;
}

.form-group{
    margin: 0.5rem 0;
}

.btn-pay{
    margin: 2rem;
}

.btn{
    width: 100%;
}

.pay-details{
    padding: 1rem;
}

.pay-details__text{
    font-size: 16px;
}
