td{
    padding: 0.4rem;
    border: solid;
    border-width: 0.1rem;  
}
li{
    padding: 0.15rem 0;
}

.questions{
    padding: 5rem;
}

.questions__h3{
    text-align: center;
}

.tabla{
    overflow-x:auto;
}

.card-body__text{
    padding: 0.5rem 0;
}