{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'components/admin-header.html' %}
{% endblock header %}
{% block boostrap %}
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
{% endblock boostrap %}
{% block content %}
<script>
    tailwind.config = {
      theme: {
        extend: {
          backgroundColor: {
            's-blue': '#4355ce',
            's-red': '#e13838',
            's-black': '#1f1b1a',
          }
        }
      }
    }
  </script>
  
  
    {% include 'components/up.html' %}
    <div class="flex justify-center my-5">
      <div class="bg-red-600 p-1 w-4/5"></div>
  </div>
    {% include 'components/delete.html' %}
    <div class="flex justify-center my-5">
      <div class="bg-red-600 p-1 w-4/5"></div>
  </div>  

  

  {% include 'components/cupon.html' %}
{% endblock content %}
{% block footer %}
{% include 'components/admin-footer.html' %}
{% endblock footer %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script src="{% static 'js/img-preview.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock scripts %}