  {% extends 'base.html' %}
  {% load humanize %}
  {% load static %}
  {% block add_styles %}
  <link rel="stylesheet" href="{% static '/css/css-views/sneaks.css' %}">
  <link rel="stylesheet" href="{% static '/css/mediaquerys.css' %}">
  {% endblock add_styles %}
  {% block content %}
  <section>
    <div class="sneak">
      <div class="sneak__card">
        <div class="sneaks__card__img">
          <a class="sneaks__card__img__link" href="">
            <img class="sneaks__card__img__img"
              src="{{sneak.imagen.url}}"
              alt="Air Force 1 Low Retro">
          </a>
        </div>
        <div class="sneaks__card__details">
          <div class="sneaks__card__details__name-price">
            <p>{{sneak.name}}</p>
          </div>
          <div class="sneaks__card__details__desc">
            <p>Calzado {{sneak.categoria.nombre}}</p>
            <p>Talla {{sneak.tallaEUR.number}}</p>
            {% if sneak.disponible %}
              <p>Hay stock disponible</p>
              {% else %}
              <p>No hay stock de este producto</p>
              {% endif %}
            <p><span class="price">$ {{sneak.precio|intword}} CLP</span></p>
            <a href="{% url 'agregar_carro' id_prod=sneak.id %}" class="btn m-2 btn-blue">Añadir al carro</a>
          </div>
        </div>
      </div>
        <div class="sneaks__imgs">
          <img
          class="sneaks__imgs__img"
            src="{{sneak.imagen_muestra.url}}" alt="Air-Force-1-Low-Retro-under">
          <img class="sneaks__imgs__img"
            src="{{sneak.imagen_muestra_2.url}}" alt="Air-Force-1-Low-Retro-Above">
        </div>
    </div>
  </section>
  <section>
    <h3 class="text-center">Tabla con Tallas en EU, US y CM</h3>
    {% include 'components/tabla.html' %}
  </section>
    {% endblock content %}