    {% extends 'base.html' %}
    {% load static %}
    {% block add_styles %}
    <link rel="stylesheet" href="{% static '/css/css-views/pre-buy.css' %}">
    <link rel="stylesheet" href="{% static '/css/mediaquerys.css' %}">
    {% endblock add_styles %}
    {% block content %}
    <section>
        <h4>Tu carrito de compras</h4>
        <div class="cart-container">
            <div class="cart-wrap">
                <div class="cart-sneaks-container">
                    {% for zapatilla in carro %}
                    <div class="cart-card">
                        <div class="cart-card__img-contain">
                            <img class="cart-card__img" src="{{zapatilla.items.imagen.url}}" alt="Low Retro">
                        </div>
                        <div class="cart-card__details">
                            <div class="cart-card__texts">
                                <p class="cart-card__details__text weight-600">Gray Air Jordan 4</p>
                                <p class="cart-card__details__text">Talla: {{zapatilla.items.tallaEUR.number}}</p>
                                {% if zapatilla.items.disponible %}
                                <p class="cart-card__details__text">Stock: Hay Stock</p>
                                {% else %}
                                <p class="cart-card__details__text">Stock: No hay Stock</p>
                                {% endif %}
                                <p class="cart-card__details__text"></p>
                                <p class="cart-card__details__text">Precio: <span class="weight-600">${{zapatilla.items.precio}} CLP</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="cart-prebuy">
                    <div class="cart-resume">
                        <h3 class="cart-resume__title">Resumen del pedido</h3>
                        <div class="cart-resume__details">
                            <p class="cart-resuem__text">Total de Productos: {{total_prods}}</p>
                            <p class="cart-resuem__text">Total: <span class="weight-600">${{total_precio}}</span></p>
                            <form>
                                <div class="form-group">
                                    <label for="name"></label>
                                    <input type="text" class="form-control" id="name" placeholder="Cupon de descuento">
                                </div>
                                <div class="form-group">
                                    <label for="direccion">Direccion</label>
                                    <input type="text" class="form-control" id="direccion" placeholder="Ciudad">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="button-pay">
                        <button type="button" class="btn btn-pagar btn-blue">Ir a pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}