{% extends 'base.html' %}
{% load static %}
  {% block add_styles %}
  <link rel="stylesheet" href="{% static '/css/css-views/intro.css' %}">
  {% endblock add_styles %}
  {% block content %}
  <section>
    <div class="panel">
      <div class="container mt-5 container-form">
        <h4>Iniciar Sesión</h4>
        <form method='POST' action="{% url 'login' %}">
          {% csrf_token %}
          <div id="usuario_group" class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Ingrese su usuario">
            <span class="warning">Error en el Usuario.</span>
          </div>
          <div id="password_group" class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" class="form-control" id="Contrasenna" placeholder="Ingrese su contraseña">
            <span class="warning">Contraseña Incorrecta</span>
          </div>
          <div class="btn-links">
            <button type="submit" class="btn btn-red">Iniciar Sesión</button>
            <a href="{% url 'register' %}" class="btn-links__link">Aun no estás registrado?</a>
          </div>
        </form>
      </div>
      <div class="container-img">
        <img src="{% static 'imgs/carrusel_img1.jpg' %}" alt="imagen de login">
      </div>
    </div>
  </section>
  {% block scripts %}
  <script src="{% static '/js/login.js' %}"></script>
  {% endblock scripts %}
{% endblock content %}
