  {% extends 'base.html' %}
  {% load static %}
  {% block add_styles %}
  <link rel="stylesheet" href="{% static 'css/css-views/user.css' %}">
  <link rel="stylesheet" href="{% static 'css/css-views/pedido.css' %}">
  {% endblock add_styles %}
  {% block content %}
  <section>
    <div class="user-wrap">
      <div class="user-panel">
        <div class="user-info-content">
          <div class="user-panel__img-content">
            <i class="fa-sharp fa-solid fa-user"></i>
          </div>
          <div class="user-info">
            <p class="user-info__text">{{user.username}} {{user.last_name}}</p>
          </div>
        </div>
        <div class="user-content">
          {% if user.is_superuser == 1 %}
           <a href="{% url 'gestion-zapatillas' %}" class="admin-link">Gestionar productos</a>
          <a href="{% url 'vendedores' %}" class="admin-link">Usuarios</a>
          <a href="{% url 'gestionar_producto' %}" class="admin-link">Gestion de Pedidos</a>
          {% elif user.is_staff == 1%}
          <a href="#buys" class="user-link">Mis Compras.</a>
          <a href="{% url 'mis_pedidos' %}" class="user-link">Mis Pedidos.</a>
          <a href="{% url 'gestion-zapatillas' %}" class="admin-link">Gestionar productos</a>
          <a href="{% url 'gestionar_producto' %}" class="admin-link">Gestion de Pedidos</a>
          {% else %}
          <a href="#buys" class="user-link">Mis Compras.</a>
          <a href="{% url 'mis_pedidos' %}" class="user-link">Mis Pedidos.</a>
          {% endif %}
        </div>
      </div>
    </div>
    
    <section>
      <div class="container my-3">
        <div class="">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ingresar Dirección de entrega</h5>
                <form action="{% url 'save_direccion' %}" method="POST" id="direccionForm">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" name="direccion" class="form-control" id="direccion" placeholder="Ingresa tu dirección" required>
                  </div>
                  <div class="form-group">
                    <label for="region">Selecciona una región</label>
                    <select name="region" id="region" class="form-select" required>
                      {% for region in regiones %}
                      <option value="{{region.id}}">{{region.region}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <button type="submit" class="btn my-3 btn-primary btn-block">Guardar</button>
                  <p class="text-danger">Sin una direccion no podras proceder a pagar un producto.</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <section>
      <div class="container">
        <h3 class="text-center">Tus Direcciones de entrega</h3>
        <div class="d-flex justify-content-center">
          <div class="w-100 p-2">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Región</th>
                  </tr>
                </thead>
                <tbody>
                  {% for direccion in direcciones %}
                  <form action="{% url 'del_direccion' id_direccion=direccion.id %}">
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ direccion.direccion }}</td>
                      <td>{{ direccion.region.region }}</td>
                      <td>
                        <div class="d-flex flex-wrap">
                          <button type="submit" class="mx-2 btn btn-danger flex-fill">Borrar</button>
                          <a href="{% url 'edit_direccion' direccion.id %}" class="btn btn-primary flex-fill">Editar</a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </form>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
  {% if user.is_staff == 1 %}
  <h2>Ventas</h2>
      <div class="product-sale" id="sales">
        {% for v in ventas %}
        {% include 'components/venta.html' %}
        {% endfor %}
      </div>
    </section>
  {% else %}
  <section>
    <div class="line-contain">
      <div class="line-break"></div>
    </div>
    <h2>Mis Compras</h2>
    <div class="product-sale" id="bought">
      {% for b in boleta %}
      {% include 'components/compra.html' %}
      {% endfor %}
    </div>
    <!-- ADMIN -->
  </section>
  {% endif %}
  {% endblock content %}
  {% block scripts %}
  <script src="{% static 'js/direccion_null.js' %}"></script>
  {% endblock scripts %}
