@media only screen and (max-width: 1260px) {

  
  .order-card__time{
    width: 100%;
    align-items: center;
  }

  .order-ship-progress__text{
    font-size: 12px;
  }

  .order-summary__text{
    font-size: 16px;
  }

  .order-summary{
    width: 35%;
  }
  .order-wrap{
    align-items: flex-start;
  }
}


@media only screen and (max-width: 820px) {
  .disable { 
    display: initial;
  }
  .header-center__shopping-car {
    padding-right: 5rem;
  }
  .header-center {
    display: flex;
    justify-content: space-between;
  }

  .header-center__title {
    font-size: 20px;
  }
  .header-top-items {
    display: none;
  }

  .footer-top__text {
    left: 0;
    font-size: 10px;
  }

  .footer-top {
    display: block;
    text-align: center;
  }

  .footer-top__social {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .panel{
    margin: 2rem;
   
  }
  .container-form{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .btn{
    margin: 1rem;
  }

  .cart-sneaks-container{
    width: 100%;
  }
  .cart-wrap{
    justify-content: center;

  }

  .user-info-content{
    justify-content: center;
    flex-wrap: wrap;
  }

  .user-panel{
    width: 100%;
  }

  .user-content{
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
  }
  .user-info__text{
    font-size: 16px;
  }

  .product-panel_specify-info{
    display: block;
  }

  .product-img-content{
    width: 100%;
  }

  .order-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pay-details{
    padding: 0.2rem;
  }

  .priv-container{
    text-align: center;
  }

}

@media only screen and (max-width: 575px) {
  button {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
  .panel{
    margin: 2rem;
    padding: 0;
  }
  .sneak {
    padding: 0;
  }
  .header-center__shopping-car {
    padding-right: 4rem;
  }

  .header-center__menu {
    justify-content: flex-start;
  }
  .header-center__search {
    display: none;
  }

  .header-center__search_under {
    padding: 2rem;
    display: block;
  }

  .header-searchbar {
    padding-left: 1rem;
  }
  .footer-top__link ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .footer-top__social {
    width: 100%;
  }

  .fa-cart-shopping {
    position: relative;
    top: 0.5rem;
    left: 1rem;
  }

  .panel{
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .container-form{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }

  .btn{
    width: 100%;
  }

  .sneaks__imgs__img{
    margin-top: 1rem;
  }

  .cart-sneaks-container{
    width: 100%;
  }
  .cart-card__img-contain{
    width: 30%;

  }
  .cart-wrap{
    background-color: transparent;
    justify-content: center;
    padding: 0;
  }
  .cart-card{
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .cart-container{
    margin: 0;
  }

  .cart-card__img{
    border-style: none;
  }
  .cart-card__details{
    padding: 0 2rem;
  }
  .cart-card__details__text{
    font-size: 12px;
  }
  .sum .less{
    margin: 0;
  }

  .order-cards{
    margin: 1rem;
    width: 100%;
  }

  .order-summary{
    width: 100%;
    margin: 1rem;
  }

}

@media only screen and (max-width: 300px){
  .btn{
    font-size: 12px;
    width: 60%;
  }

  .btn-blue{
    font-size: 12px;
  }

  .header-center__logo{
    width: 30%;
  }
}


