{% load filters %}
<div class="sneaks__card zoom">
    <div class="sneaks__card__img">
      <a class="sneaks__card__img__link" href="{% url 'sneak_details' nombre=zapatilla.name sneak_id=zapatilla.id_prod %}">
        <img class="sneaks__card__img__img" src="{{zapatilla.imagen.url}}" alt="Sneaker Name">
      </a>
    </div>
    <div class="sneaks__card__details">
      <div class="sneaks__card__details__name-price">
        <p>{{zapatilla.name}}</p>
        <p>${{zapatilla.precio|precio}}</p>
      </div>
      <div class="sneaks__card__details__desc">
        <p>Categoria: {{zapatilla.categoria.nombre}}</p>
        <p>Talla: {{zapatilla.tallaEUR.number}} {{zapatilla.tallaEUR.tipo}}</p>
      </div>
    </div>
  </div>