<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Tabla de tallas
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">EU</th>
              <th scope="col">US</th>
              <th scope="col">LONGITUD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>20</td>
              <td>4</td>
              <td>12.3 cm / 4.8"</td>
            </tr>
            <tr>
              <td>21</td>
              <td>4 1/2</td>
              <td>13 cm / 5.1"</td>
            </tr>
            <tr>
              <td>22</td>
              <td>5</td>
              <td>13.6 cm / 5.4"</td>
            </tr>
            <tr>
              <td>23</td>
              <td>6</td>
              <td>14.3 cm / 5.6"</td>
            </tr>
            <tr>
              <td>24</td>
              <td>7</td>
              <td>15 cm / 5.9"</td>
            </tr>
            <tr>
              <td>25</td>
              <td>8</td>
              <td>15.6 cm / 6.1"</td>
            </tr>
            <tr>
              <td>26</td>
              <td>8 1/2</td>
              <td>16.3 cm / 6.4"</td>
            </tr>
            <tr>
              <td>27</td>
              <td>9</td>
              <td>17 cm / 6.7"</td>
            </tr>
            <tr>
              <td>28</td>
              <td>10</td>
              <td>17.6 cm / 6.9"</td>
            </tr>
            <tr>
              <td>29</td>
              <td>11</td>
              <td>18.3 cm / 7.2"</td>
            </tr>
            <tr>
              <td>30</td>
              <td>12</td>
              <td>19 cm / 7.5"</td>
            </tr>
            <tr>
              <td>31</td>
              <td>12 1/2</td>
              <td>19.6 cm / 7.7"</td>
            </tr>
            <tr>
              <td>32</td>
              <td>13</td>
              <td>20.3 cm / 8"</td>
            </tr>
            <tr>
              <td>33</td>
              <td>1</td>
              <td>21 cm / 8.3"</td>
            </tr>
            <tr>
              <td>34</td>
              <td>2</td>
              <td>21.6 cm / 8.5"</td>
            </tr>
            <tr>
              <td>35</td>
              <td>2 1/2</td>
              <td>22.3 cm / 8.8"</td>
            </tr>
            <tr>
              <td>36</td>
              <td>3 1/2</td>
              <td>23 cm / 9.1"</td>
            </tr>
            <tr>
              <td>37</td>
              <td>4</td>
              <td>23.6 cm / 9.3"</td>
            </tr>
            <tr>
              <td>38</td>
              <td>5</td>
              <td>24.3 cm / 9.6"</td>
            </tr>
            <tr>
              <td>39</td>
              <td>5.5</td>
              <td>25 cm / 9.8"</td>
            </tr>
            <tr>
              <td>40</td>
              <td>6.5</td>
              <td>25.7 cm / 10.1"</td>
            </tr>
            <tr>
              <td>41</td>
              <td>7.5</td>
              <td>26.3 cm / 10.3"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
